
input{
  padding: 10px 0px;
  margin-left: 5%;
}
button{
  padding: 10px 20px;
  border-style: none;
  background-color: green;
  border-radius: 10px;
  color: white;
}

.control{
  background-color: violet;
}